@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;	
}

html{
	scroll-behavior: smooth;
}

section[id]{
	scroll-margin-top: 75px;
}

body{
	font-family: 'Poppins', sans-serif;
}

.container{
	max-width: 100%;
	margin: 0 auto;
}
.header{
	background-image:
	linear-gradient(
        rgba(0.2,0.2,0.2,0.3),
        rgba(0.2,0.2,0.2,0.7)),
        url(images/presion_arterial.jpg);
	background-position: center 10%;
    background-repeat: no-repeat;
	background-size: cover;
	min-height: 70vh;
	display: flex;
	align-items: center;
}
.menu {
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;	
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	background-color: aquamarine; /* Fondo del navbar */
  	padding: 0; /* Espacio interno del navbar */
  	z-index: 100; /* Valor alto para estar por encima de otros elementos */
  	transition: all 0.5s ease;
  	
}
.logo{
	padding: 0 200px;
  	background-image: url(images/logo.png);
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: left;
	width: 100;
  	height: 50px;
  	margin-left: 20px;
}

.menu .navbar ul li{
	position: relative;
	float: left;
}
.menu .navbar ul li a{
	font-size: 18px;
	padding: 20px;
	color: #FFFDFC;
	display: block;
	font-weight: 600;
	/*-webkit-text-stroke: 1px black; /* Ancho y color del contorno */
    /*logo: 2px black;*/
}
.menu .navbar ul li a:hover{
	color: darkorange;
	/*-webkit-text-stroke: 1px black; /* Ancho y color del contorno */
}
#menu{
	display: none;
}
.menu-icono{
	width: 25px;
}
.menu label{
	cursor: pointer;
	display: none;
}



.header-content{
    text-align: center;
}
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
    -webkit-text-stroke: 1px black; /* Ancho y color del contorno */
}
.header-content p{
    font-size: 18px;
    color: gray;
    padding: 0 250px;
    margin-bottom: 25px;
    -webkit-text-stroke: 1px darkgray; /* Ancho y color del contorno */
}
.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #EDC003;
    color: #F9FAFC;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: #E8D062;
}



/* Estilos para el menú vertical */
.menu-vertical {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
}

.menu-vertical li {
	padding: 2px 8px;
}

/* Estilos para mostrar el menú vertical al colocar el cursor sobre "Suscripción" */
.navbar li:hover .menu-vertical {
	display: block;
}

/* ------------------------------------------*/
/* <<<<<<<<<<<<<<< seccion 1 >>>>>>>>>>>>>>>*/
/* ------------------------------------------*/
.health{
	padding: 20px 0;
	background-color: #E1E2E6;
	position: relative;
}
.health-content{
	text-align: center;
}
.health-content h2{
	font-size: 55px;
	line-height: 70px;
	color: #323337;
	text-transform: uppercase;
	padding: 0 255px;
	margin-bottom: 15px;
}
.txt-p {
	font-size: 16px;
	color: #414247;
	padding: 0 250px;
	margin-bottom: 35px;
}
.health-group{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.health-1{
	padding: 0 25px;
}
.health-1 img{
	width: 200px;
}

.heart {
	padding: 0 200px;
  	background-image: url(images/reloj_presion.png);
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
	width: 200px;
  	height: 150px;
}
.chart {
	padding: 0 200px;
  	background-image: url(images/grafico_presion.png);
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
	width: 200px;
  	height: 150px;
}
.medicine {
	padding: 0 200px;
  	background-image: url(images/recomendaciones_presion.png);
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
	width: 200px;
  	height: 150px;
}

.health-1 h3{
	color: #323337;
	font-size: 20px;
	margin-bottom: 15px;
}

/* ------------------------------------------*/
/* <<<<<<<<<<<<<<< seccion 2 >>>>>>>>>>>>>>>*/
/* ------------------------------------------*/
.pressure{
	background-image: linear-gradient(
		rgba(0,0,0,0.7),
		rgba(0,0,0,0.7)),
		url(images/medidor_de_presion.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 50px 0;
}
.pressure-content{
	text-align: center;
}

h4.icon-ticket {
    display: inline;
    margin-right: 10px;
}
.icon-ticket{
	padding: 0 30px;
  	background-image: url(images/ticket.png);
  	background-size: 50px;
  	background-repeat: no-repeat;
  	background-position: center;
	width: 60px;
  	height: 80px;
}

.pressure-content h2{
	font-size: 25px;
	line-height: 90px;
	color: #F9FAFC;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.pressure-content p, h6{
	font-size: 16px;
	color: #C5C5C5;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0 100px;
}
.pressure-group{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.pressure-1{
	padding: 10 20px;
}
.pressure-1 img{
	width: 25px;
	margin-bottom: 5px;
}
.pressure-1 h3{
	color: #EACCB3;
	font-size: 18px;
	margin: 20px;
}
.pressure-1 h1{
	color: rgb(0, 255, 128);
	font-size: 18px;
}


/* <<<<<<<<<<<<<<< seccion 3 >>>>>>>>>>>>>>>*/
.pressure-event{
	display: flex;
}
.pressure-event-1{
	width: 50%;
	padding: 100px 250px 100px 100px;
	background-color: #E1E2E6;
}
.pressure-event-2{
	background-image: url(images/nuevos_tratamientos.jpg);
	background-position: center center;
	background-repeat: no repeat;
	background-size: cover;
	width: 50%;
}
.pressure-event-3{
	background-image: url(images/progreso_presion.jpg);
	background-position: center center;
	background-repeat: no repeat;
	background-size: cover;
	width: 50%;
}
h2{
	font-size: 55px;
	line-height: 70px;
	color: #323337;
	text-transform: uppercase;
	margin-bottom: 20px;
}
p{
	font-size: 16px;
	color: #414247;
	margin: 25px 0 45px 0;
}

/* >>>>>>>>>>>>>>>>>>> MAPA DE healthLÓGICO <<<<<<<<<<<<<<<<<<<<<<<<*/
.mapa{
	background-color: lightgray;
}
.titulo{
	font-size: 55px;
	text-transform: uppercase;
	text-align: center;
}

.mapa-img{
	background-image: url(images/mapahealth.jpg);
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
	width: 1000px;
  	height: 650px;
  	margin: 0 auto;
}

/* >>>>>>>>>>>>>>>>>>> RECOMENDACIONES <<<<<<<<<<<<<<<<<<<<<<<<*/
.pressure-recommendations h2{
	text-align: center;
}
.pressure-recommendations div{
	display: flex;
	margin-bottom: 20px;
}
.pressure-recommendations li{
	color: #333; 
  	font-size: 15px; 
  	list-style-type: disc; /* Viñetas redondas */
    margin-left: 40px;
}
.img-recomend{
	background-image: url(images/fondo8.jpg);
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
	width: 550px;
  	height: 230px;
  	margin: 0 auto;
	
}

/* <<<<<<<<<<<<<<< seccion footer >>>>>>>>>>>>>>>*/
.footer{
	padding: 100px 0;
	background-color: black;
}
.footer-content{
	display: flex;
	justify-content: space-between;
}
.link h3{
	font-size: 18px;
	color: #F9FAFC;
	margin-bottom: 15px;
}
.link a{
	font-size: 16px;
	color: #c5c5c5;
	display: block;
	margin-left: 30px;
	margin-right: 20px;
	margin-bottom: 15px;
	display: flex;
	
}
.link .info{
	font-size: 18px;
	color: #F9FAFC;
	margin-bottom: 15px;
}

.link a:hover{
    color: lightcyan;
}

/* <<<<<<<<<<<<<<< iconos >>>>>>>>>>>>>>>*/
.icon {
  color: white;
  position: absolute;
  left: 5px;
 
  
}

/*-------------------------------------------------------
>>>>>>>>>>>>>>>>> Diseño adaptable <<<<<<<<<<<<<<<<<<<<<<
---------------------------------------------------------*/

@media(max-width:991px){
	
	.menu{
		padding: 30px;
	}
	.menu label{
		display:initial;
	}
	.menu .navbar{
		position:absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #323337;
		display: none;
	}
	.menu .navbar ul li{
		width: 100%;
	}
	#menu:checked ~ .navbar{
		display: initial;
	}
	.header{
		min-height: 0vh;;
	}
	.header-content{
		padding: 100px 30px;
	}
	.header-content p{
		padding: 0;
	}
	/* >>>>>>>>> seccion health <<<<<<<<<<<<<*/
	.health{
		padding: 30;
	}
	.health-content h2{
		padding: 0;
	}
	.txt-p{
		padding: 0;
	}
	.health-group{
		flex-direction: column;
		margin-bottom: 0;	
	}
	.health-img{
		display: none;
	}
	
	.pressure{
		padding: 30;
	}
	.pressure-content h2{
		padding: 0;
	}
	.txt-p{
		padding: 0;
	}
	.pressure-group{
		flex-direction: column;
		margin-bottom: 0;	
	}
	.pressure-img{
		display: none;
	}
	.services{
		padding: 30px;
	}
	.services-content p{
		padding: 0;
	}
	.services-group{
		flex-direction: column;
		margin-bottom: 0; 
	}
	.services-1{
		margin-bottom: 25px; 
	}
	.general{
		flex-direction: column;
	}
	.general-1{
		width: 100%;
		padding: 30px;
		text-align: center;
	}
	.general-2, .general-3{
		display: none;
	}
	.pressure-event{
		padding: 30px;
	}
	.pressure-event-content{
		flex-direction: column;
	}
	.pressure-event-1{
		padding: 0;
	}
	.footer{
		padding: 30px;
	}
	.footer-content{
		flex-direction: column;
		text-align: center; 
	}
}

