<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estiloP.css">
</head>
<body>
    <header class="header">
		<div class="menu container">
			<a href="#inicio" class="logo"></a>
			<input type="checkbox" id="menu"/>
			<label for="menu">
				<img src="images/menu.png" class="menu-icono" alt=""/>
			</label>
			<nav class="navbar">
				<ul>
					<li><a href="#">Servicios</a>
						<ul class="menu-vertical">
							<li><a href="#pressure-treatment"> Tratamiento y Acceso</a></li>
							<li><a href="#pressure-event"> Eventos</a></li>
							<li><a href="#recommendations"> Recomendaciones</a></li>
						</ul>
					</li>
					<li><a href="/inicios/membresia"> Membresía</a></li>
					<li><a href="/clientes/ingreso">Iniciar sesión</a></li>
				</ul>
			</nav>
		</div>
		<div class="header-content container" id="inicio">
			<h1>Aplicación para Control de Presión Arterial</h1>
			<p>
			    En nuestra aplicación para el Control de Presión Arterial, estamos comprometidos
			    con tu salud y bienestar. Creemos que cada paso que tomas para monitorear y cuidar
			    de tu presión arterial contribuye a una vida más saludable y consciente.
			</p>
		</div>
	</header>
	
	<section class="health">
	    <img class="health-img" src="images/bg2.png" alt="">
	    <div class="health-content container">
	        <h2>Introducción a la Aplicación de Control de Presión Arterial</h2>
	        <p class="txt-p">
	            La Aplicación de Control de Presión Arterial es una solución creada con dedicación
	            y pasión para ayudarte a mantener un estilo de vida saludable y controlar tu presión arterial.
	            Nuestro principal objetivo es brindarte las herramientas necesarias para monitorear y mejorar tu salud.
	        </p>
	
	        <div class="health-group">
	            <div class="health-1">
	                <h4 class="heart"></h4>
	                <h3>Sección de Monitoreo</h3>
	                <p>
	                    Nuestra sección de monitoreo es una herramienta esencial para que puedas llevar un control
	                    constante de tus niveles de presión arterial.
	                </p>
	            </div>
	            <div class="health-1">
	                <h4 class="chart"></h4>
	                <h3>Sección de Gráficos</h3>
	                <p>
	                    Adéntrate en nuestra sección de gráficos y observa la evolución de tus valores de presión
	                    arterial a lo largo del tiempo.
	                </p>
	            </div>
	            <div class="health-1">
	                <h4 class="medicine"></h4>
	                <h3>Sección de Recomendaciones</h3>
	                <p>
	                    Nuestra sección de recomendaciones te brinda valiosos consejos para mantener un estilo de
	                    vida saludable y controlar tus niveles de presión arterial.
	                </p>
	            </div>
	        </div>
	    </div>
	</section>

	
	<main class="pressure" id="pressure-treatment">
	    <div class="pressure-content container">
	        
	        <h4 class="icon-pressure"></h4><h2>Tratamiento de Presión Arterial</h2>
	        <div class="pressure-group">
	            <div class="pressure-1">
	                <img src="images/i1.svg" alt="">
	                <h1>0.00$</h1>
	                <h3>[ Tarifa básica ]</h3>
	                <h6>>> Monitoreo gratuito</h6>
	            </div>
	            <div class="pressure-1">
	                <img src="images/i2.svg" alt="">
	                <h1>3.00$</h1>
	                <h3>[ Plan de tratamiento ]</h3>
	                <h6>>> Plan personalizado</h6>
	                <h6>>> Monitoreo regular</h6>
	                <h6>>> Acceso a recomendaciones</h6>
	            </div>
	            <div class="pressure-1">
	                <img src="images/i3.svg" alt="">
	                <h1>6.00$</h1>
	                <h3>[ Plan Premium ]</h3>
	                <h6>>> Plan avanzado de tratamiento</h6>
	                <h6>>> Monitoreo constante</h6>
	                <h6>>> Asesoría médica en línea</h6>
	            </div>
	        </div>
	        <p>
	            Nuestra aplicación de tratamiento de presión arterial está diseñada para brindar cuidado y control especializado. Ofrecemos opciones flexibles que se adaptan a tus necesidades, asegurando tu bienestar cardiovascular.
	        </p>
	        <h2>- - - - - - - - - - - - - - - - - - - - - - Puntos de Acceso - - - - - - - - - - - - - - - - - - - - - -</h2>
	        <div class="pressure-group">
	            <div class="pressure-1">
	                <h3>Sitio Web Principal</h3>
	                <p>Acceso: www.tratamientopresionarterial.com</p>
	                <p>Disponible las 24 horas</p>
	            </div>
	            <div class="pressure-1">
	                <h3>Aplicación Móvil</h3>
	                <p>Descarga: App Store / Google Play</p>
	                <p>Disponible en todo momento</p>
	            </div>
	        </div>
	    </div>
	</main>
    
	<section class="pressure-event" id="pressure-event">
	    <div class="pressure-event-1">
	        <h2>Evento de Introducción de Nuevos Tratamientos</h2>
	        <p>
	            En este emocionante evento, presentamos nuevos tratamientos en nuestro programa de cuidado de la presión arterial. Cada introducción marca un avance en nuestra búsqueda de soluciones para mejorar la salud cardiovascular de nuestros usuarios. Es una oportunidad para educar a nuestros usuarios sobre las características únicas de cada tratamiento y su impacto en la salud. Es un momento de emoción y esperanza, donde todos somos parte de un esfuerzo conjunto para proteger la salud cardiovascular.
	        </p>
	    </div>
	    <div class="pressure-event-2"></div>
	</section>
	
	<section class="pressure-event">
	    <div class="pressure-event-3"></div>
	    <div class="pressure-event-1">
	        <h2>Evento de Avances en Tratamientos</h2>
	        <p>
	            El evento de avances en tratamientos es un momento significativo en nuestra aplicación. Celebramos el progreso y la mejora constante en las opciones de tratamiento de presión arterial. Es cuando compartimos los resultados positivos y los beneficios de los tratamientos implementados. Es un momento de reflexión y gratitud, donde reconocemos la importancia de la atención continua y la contribución esencial que hacemos para el bienestar cardiovascular.
	        </p>
	    </div>
	</section>

	
	<section class="pressure-recommendations" id="recommendations">
	    <h2>Recomendaciones para tu Tratamiento</h2>
	    <div>
	        <ul>
	            <li>Planifica tu tratamiento siguiendo las indicaciones de tu profesional de la salud.</li>
	            <li>Lleva un registro de tus medicamentos y sigue las dosis recomendadas.</li>
	            <li>Realiza actividades físicas de forma regular, siguiendo las pautas de ejercicio adecuadas.</li>
	            <li>Mantén una dieta equilibrada y baja en sodio para ayudar a controlar la presión arterial.</li>
	            <li>Consulta a tu médico regularmente para evaluar el progreso de tu tratamiento.</li>
	            <li>Evita el estrés y encuentra técnicas de relajación que funcionen para ti.</li>
	            <li>Lleva un registro de tus lecturas de presión arterial en un diario o aplicación móvil.</li>
	            <li>Comunica cualquier síntoma o efecto secundario a tu profesional de la salud.</li>
	            <li>Educa a tu familia y seres queridos sobre la importancia de mantener una presión arterial saludable.</li>
	            <li>Pregunta a tu médico si tienes dudas o necesitas información adicional sobre tu tratamiento.</li>
	        </ul>
	        <ul class="img-pressure-recommend"></ul>
	    </div>
	</section>

	
	<footer class="footer">
		<div class="footer-content container">
			<div class="link">
				<h3>Aplicación para el tratamiento de la Presión Arterial</h3>
				<ul>
					<li>
						<ion-icon class="icon" name="logo-twitter"></ion-icon>
						<a href="#">Twitter</a>
					</li>
					<li>
						<ion-icon class="icon" name="logo-facebook"></ion-icon>
						<a href="#">Youtube</a>
					</li>
					<li>
						<ion-icon class="icon" name="logo-instagram"></ion-icon>
						<a href="#">Instagram</a>
					</li>
					<li>
						<ion-icon class="icon" name="logo-facebook"></ion-icon>
						<a href="#">Facebook</a>
					</li>
				</ul>
			</div>
			<div class="link">
				<h3>Contactos</h3>
				<ul>
					<li class="info">Email: info@.tratamientopresionarterial.org</li>
					<li class="info">Teléfono: 900-801-5888</li>
					<li class="info">Disponibilidad: 24 horas.</li>
					<li class="info">Ubicación: Av. Universitaria, La Gasca, Quito</li>
				</ul>
			</div>
			<div class="link">
				<h3>Políticas</h3>
				<ul>
					<li><a href="/inicios/politicaPrivacidad">Política de privacidad</a></li>
					<li><a href="/inicios/terminosUso">Términos de uso</a></li>
				</ul>
			</div>
		</div>
	</footer>
	
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>