<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estiloPoliticas.css" type="text/css">
	<title>Políticas de Privacidad - Zoológico Naturaleza Viva</title>
</head>
<body>
    <header>
    	<h2><a href="/inicios/principal" class="logo"></a></h2>
    </header>
	<main>
	    <h1>Políticas de Privacidad</h1>
	    <section class="privacy-policy">
	        <h2>Recopilación de Información</h2>
	        <p>La Aplicación de Control de Presión Arterial recopila información personal limitada, como datos de presión arterial y fechas de mediciones, con el único propósito de proporcionar un seguimiento personalizado de su salud.</p>
	    </section>
	    
	    <section class="privacy-policy">
	        <h2>Uso de la Información</h2>
	        <p>La información recopilada se utiliza exclusivamente para mostrar sus mediciones de presión arterial a lo largo del tiempo y brindarle una visión de su estado de salud. No compartiremos su información con terceros sin su consentimiento.</p>
	    </section>
	    
	    <section class="privacy-policy">
	        <h2>Seguridad de los Datos</h2>
	        <p>Hemos implementado medidas de seguridad para proteger su información personal y asegurar su privacidad. Sin embargo, es importante tener en cuenta que la seguridad completa de los datos transmitidos por Internet no puede ser garantizada al 100%.</p>
	    </section>
	    
	    <!-- ... Más secciones de políticas de privacidad ... -->
	</main>
	<footer>
	    <p>&copy; 2023 Aplicación de Control de Presión Arterial. Todos los derechos reservados.</p>
	</footer>
</body>
</html>