<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estiloPoliticas.css" type="text/css">
	<title>Términos y Condiciones - Zoológico Naturaleza Viva</title>
</head>
<body>
    <header>
    	<h2><a href="/inicios/principal" class="logo"></a></h2>
        
    </header>
	<main>
	    <h1>Términos y Condiciones</h1>
	    <section class="terms-and-conditions">
	        <h2>1. Aceptación de los Términos y Condiciones</h2>
	        <p>Al acceder y utilizar la plataforma de control de presión arterial, acepta cumplir y estar sujeto a estos Términos y Condiciones. Si no está de acuerdo con estos términos, le solicitamos que no utilice nuestros servicios.</p>
	    </section>
	    
	    <section class="terms-and-conditions">
	        <h2>2. Acceso y Uso del Servicio</h2>
	        <p>a. Solo las personas autorizadas y debidamente registradas tienen derecho a acceder y utilizar la plataforma de control de presión arterial.</p>
	        <p>b. La información de inicio de sesión, incluidos el nombre de usuario y la contraseña, deben mantenerse confidenciales y no deben ser compartidos con terceros. Usted es el único responsable de cualquier actividad que ocurra en su cuenta.</p>
	        <p>c. Nos reservamos el derecho de suspender, revocar o bloquear el acceso a su cuenta en caso de sospecha de uso indebido o incumplimiento de estos términos.</p>
	    </section>
	    
	    <section class="terms-and-conditions">
	        <h2>3. Privacidad y Protección de Datos</h2>
	        <p>a. La información personal proporcionada durante el proceso de registro estará sujeta a nuestra Política de Privacidad.</p>
	        <p>b. Utilizamos medidas de seguridad razonables para proteger su información, pero no podemos garantizar la seguridad absoluta de los datos transmitidos a través de internet.</p>
	    </section>
	    
	    <!-- ... Secciones restantes de términos y condiciones ... -->
	    
	    <section class="terms-and-conditions">
	        <p class="inf-accept">Al hacer clic en "Aceptar" durante el proceso de inicio de sesión, usted reconoce haber leído, comprendido y aceptado estos Términos y Condiciones. Si tiene alguna pregunta o inquietud, por favor contáctenos a través de los canales proporcionados en la plataforma.</p>
	    </section>
	    <button class="btn-1" onclick="cerrarVentana()">ACEPTAR</button>
	    <!-- ... Más secciones de términos y condiciones ... -->
	</main>

<script>
    function cerrarVentana() {
        window.close(); // Intenta cerrar la ventana actual
    }
</script>

<footer>
    <div class="footer-space"></div>
    <p>&copy; 2023 Aplicación de Control de Presión Arterial. Todos los derechos reservados.</p>
</footer>

</body>
</html>