<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estiloPoliticas.css" type="text/css">
	<title>Términos de Uso - Zoológico Naturaleza Viva</title>
</head>
<body>
    <header>
    	<h2><a href="/inicios/principal" class="logo"></a></h2>
    </header>
	<main>
	    <h1>Términos de Uso</h1>
	    
	    <section class="terms">
	        <h2>1. Aceptación de los Términos</h2>
	        <p>Al acceder y utilizar esta aplicación web para el control de la presión arterial, usted acepta cumplir con estos términos de uso. Si no está de acuerdo con estos términos, le recomendamos no utilizar la aplicación.</p>
	    </section>
	    
	    <section class="terms">
	        <h2>2. Uso del Contenido</h2>
	        <p>El contenido de esta aplicación es propiedad de la Aplicación de Control de Presión Arterial y está protegido por las leyes de derechos de autor. No se permite copiar, distribuir o modificar el contenido sin autorización.</p>
	    </section>
	    
	    <section class="terms">
	        <h2>3. Privacidad</h2>
	        <p>Respetamos su privacidad y protegemos sus datos personales de acuerdo con nuestra política de privacidad. Su información no será compartida con terceros sin su consentimiento.</p>
	    </section>
	    
	    <!-- ... Más secciones de términos ... -->
	</main>
	<footer>
	    <p>&copy; 2023 Aplicación de Control de Presión Arterial. Todos los derechos reservados.</p>
	</footer>

</body>
</html>